# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
.venv/
env/
venv/
.env

# Alembic
alembic/versions/*.pyc

# -----------------------------
# Node / Vite
# -----------------------------
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Docker
# -----------------------------
*.env
pgdata/

# -----------------------------
# Coverage / Testing
# -----------------------------
.coverage
coverage/
